<launch>
	
	<!-- TODO: Launch two rosserial nodes for arduino interface -->

	<!-- Launch the EKF -->
	<node pkg="roma_kalman" type="sensor_data_node" name="sensor_data_node" output="screen" />
	<node pkg="roma_kalman" type="kalman_filter_node" name="kalman_filter_node" output="screen" />

	<!-- TODO: Launch the trajectory nodes -->

	<!-- Launch LiDAR -->
	<include file="$(find ydlidar)/launch/lidar_custom.launch" />

	<!-- Launch the obstacle avoidance and OpenCV -->
	<node pkg="roma_vision" type="obstacle_avoidance_node" name="obstacle_avoidance_node" output="screen" />
	<node pkg="roma_vision" type="opencv_node" name="opencv_node" output="screen" />

	
</launch>